.custom-section{
    border-bottom : gold;
}
/*footer*/
footer {
    background-color: #343a40; /* Dark background */
    color: white; /* White text */
    padding: 2rem 0; /* Vertical padding */
  }
  footer a {
    color: white; /* White links */
    text-decoration: none; /* Remove underline */
  }
  footer a:hover {
    color: #ffc107; /* Yellow on hover */
  }

  /*style login btn*/
  .btn {
    display: inline-block;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;
    background-color: orange; /* Warna latar belakang */
    border: none;
    border-radius: 20px; /* Sudut membulat */
    text-decoration: none;
    transition: background-color 0.3s; /* Transisi warna */
}

.btn:hover {
    background-color: orange; /* Warna saat hover */
}

.btn i {
    margin-left: 5px; /* Jarak antara teks dan ikon */
}

/*jumbroton*/
.custom-container {
  background: linear-gradient(135deg, #ffcc00, #ff8838); /* Gradien latar belakang */
  border-radius: 30px; /* Sudut membulat */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Bayangan */
  position: relative;
  overflow: hidden; /* Menghindari elemen yang melampaui batas */
}

/*fitur-fitur*/
.feature-card {
  border: none; /* Menghilangkan border default */
  border-radius: 20px; /* Sudut membulat */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Bayangan */
  transition: transform 0.3s, box-shadow 0.3s; /* Transisi halus */
}

.card i {
  display: block; /* Menempatkan ikon di atas teks */
  margin-bottom: 15px; /* Jarak antara ikon dan teks */
}


/*login page*/
@media (max-width: 768px) {
  .form-signin {
      margin-bottom: 30px; /* Menambahkan margin bawah pada form */
  }
}