.custom-section{
    border-bottom : gold;
}
/*footer*/
footer {
    background-color: #343a40; 
    color: white; 
    padding: 2rem 0; 
  }
  footer a {
    color: white; 
    text-decoration: none; 
  }
  footer a:hover {
    color: #ffc107; 
  }

  /*style login btn*/
  .btn {
    display: inline-block;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;
    background-color: orange; 
    border: none;
    border-radius: 20px; 
    text-decoration: none;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: orange; 
}

.btn i {
    margin-left: 5px; 
}

/*jumbroton*/
.custom-container {
  background: linear-gradient(135deg, #ffcc00, #ff8838); 
  border-radius: 30px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  position: relative;
  overflow: hidden; 
}

/*fitur-fitur*/
.feature-card {
  border: none; 
  border-radius: 20px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.card i {
  display: block; 
  margin-bottom: 15px; 
}


/*login page*/
@media (max-width: 768px) {
  .form-signin {
      margin-bottom: 30px;
  }
}